body {
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
}

#container {
    padding: 2rem;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#git_image {
    width: 35px;
    height: 35px;
}
#git_link {
    position: relative;
    right:95px;
    bottom:430px;
}

#about_me {
    position:fixed;
    left: 180px;
    top:200px;
    width: 62px;
    height: 62px;
}

#intro {
    color: rgb(217, 217, 217);
    position: fixed;
    left: 30%;
    top: 30%;
    font-size: 30px;font-family: Helvetica;
}

#rc {
    color: #fff;
    font-size: 250px;
    font-family:'Times New Roman';
}
