body {background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);}

a {font-size: 30px}

a:link {color: rgb(17, 0, 209);}

a:visited {color: rgb(17, 0, 209);}

a:hover {color:rgb(218, 22, 61);
    text-shadow: 2px 2px 10px #f70000;
    filter: dropshadow(color=#b30000, offx=2, offy=2);}
#git_image {position:fixed;
    left: 100px;
    top:200px;
    width: 60px;
    height: 60px;}
#about_me {position:fixed;
    left: 180px;
    top:200px;
    width: 62px;
    height: 62px;}

#intro {color: rgb(217, 217, 217);
    position: fixed;
    left: 30%;
    top: 30%;
    font-size: 30px;font-family: 'Franklin Gothic Medium';}